---
import { SlMagicWand } from "react-icons/sl";
import { DATA_TIENDA } from "@/constants/const";
import { Nav } from "@/components/Nav";
import type { IconType } from "react-icons/lib";
import { TfiPanel } from "react-icons/tfi";
import { MdAdd } from "react-icons/md";
import { GoHome } from "react-icons/go";
import { Image } from "astro:assets";
import logo from "@/assets/logo.jpg";
const { session } = Astro.props;
import { Separator } from "@/components/ui/separator";

const routes = {
  admin: [
    { name: "Dashboard", href: "/admin/dashboard", icon: TfiPanel, select: 0 },
    {
      name: "Agregar producto",
      href: "/admin/dashboard/add",
      icon: MdAdd,
      select: 1,
    },

    { name: "Inicio", href: "/", icon: GoHome, select: 2 },
  ],
  user: [
    { name: "Inicio", href: "/", icon: GoHome, select: 0 },
    { name: "Preguntas", href: "/preguntas", icon: GoHome, select: 1 },
  ],
};
---

<aside
  class="w-full xl:flex-none xl:w-64 p-6 bg-white dark:bg-gray-950 dark:border-r dark:border-white min-h-full flex flex-col"
>
  <div
    class:list={[
      "space-x-2 mb-6 flex flex-col items-center",

      {
        "flex flex-col items-center": session,
        "flex items-center": !session,
      },
    ]}
  >
    <div class="flex justify-center items-center gap-2">
      <div class="text-2xl font-bold">
        {
          session ? (
            <p class="  dark:text-white text-black">Panel de administración</p>
          ) : (
            <p class="dark:text-white text-[#649977]">
              {DATA_TIENDA.header.title}
            </p>
          )
        }
      </div>

      {!session && <SlMagicWand className="dark:text-white text-[#649977]" />}
    </div>
    <Separator className="my-4" />
    <p class="text-gray-400 text-sm italic">
      {session && `Bienvenido ${session.name}`}
    </p>
  </div>

  {
    session ? (
      <Nav
        client:load
        links={routes.admin.map((route) => ({
          href: route.href,
          icon: route.icon,
          name: route.name,
          select: route.select,
        }))}
        localStorageKey="admin-aside"
        isSession={session}
      />
    ) : (
      <Nav
        client:load
        links={routes.user.map((route) => ({
          href: route.href,
          icon: route.icon,
          name: route.name,
          select: route.select,
        }))}
        localStorageKey="user-aside"
      />
    )
  }

  {
    !session && (
      <div class="hidden xl:flex items-center justify-center mb-4">
        <Image src={logo} alt="Logo" class="w-full h-full rounded-full" />
      </div>
    )
  }
</aside>
